.rounded {
    width: 450px;
    background-color: #FFD966;
    padding: 5px;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.description {
    width: 650px;
    border-radius: 1rem;
    border: solid 2px #FFD966;
    margin-bottom: 40px;
    font-size: 14px;
}

.history-form {
    width: 800px;
    height: 520px;
    padding: 5px;
    text-align: center;
    border-radius: 1rem;
    border: solid 1px black;
}

.expert-table {
    padding: 10px;
    width: 800px;
    border-collapse: collapse;
}

.expert-table-tr {
    border-bottom: 2px solid gray;
}


.expert-table-td-info {
    padding: 10px;
    width: 100px;
}

.expert-table-td-his {
    padding: 10px;
    width: 500px;
}

.expert-table-td-btn {
    padding: 10px;
    width: 200px;
}

.btn {
    width: 250px;
    background-color: #FFD966;
    padding: 5px;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 14px;
    border: none;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #fce49a;
    cursor: pointer;
}